extends layout

block content
  h1= title
  p Scientists believe the Earth will be destroyed by celestial phenomena in the next billion years.
  button(type="button", class="btn btn-info",onclick = "doBump()") Press Me
  br
  div#bump Bump the count 
  br
  a(class="btn btn-dark" href= "Dog") Dog
  script.
      var bump=1;
      var count=0;
      function doBump(){
      count=count+bump;
      bump=bump+1;
      print=document.getElementById("bump");
      print.innerHTML='Count '+count+' with bump '+bump;}
